.video-container {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Header link colors */
.header-section-transparent .header-menu-section-container:not(.scroll) .desktop-menu > .navbar-nav > .nav-item > .nav-link:not(.btn) {
    color: white;
}

.header-section-transparent .header-menu-section-container:not(.scroll) .desktop-menu > .navbar-nav > .nav-item > .nav-link:not(.btn):hover {
    color: rgba(255, 255, 255, 0.85);
}

.header-section-transparent .header-menu-section-container.scroll .desktop-menu > .navbar-nav > .nav-item > .nav-link:not(.btn) {
    color: #333;
}

.header-section-transparent .header-menu-section-container.scroll .desktop-menu > .navbar-nav > .nav-item > .nav-link:not(.btn):hover {
    color: rgba(51, 51, 51, 0.85);
}

.luma-checkout--button {
  background: #181A1A !important;
  color: #fff !important;
  border: none !important;
  border-radius: 30px !important;
  box-shadow: none !important;
  font-weight: 600;
  font-size: 1rem;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background 0.2s;
}